@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #F8F8F8, #B0ADAC)
}

.mainheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(line.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.mainheader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);

}

.image {
    height: 50px;
    z-index: 2;
}

.container {
    height: 720px;
    width: 380px;
    display: flex;
    padding: 5px 0;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 5px;
    border: 2px solid #D20A09;
    box-shadow: 0px 0px 10px 5px #FFF;
    z-index: 2;
}

.inner-container {
    display: flex;
    justify-content: center;

}

.subheading {
    margin-top: 0;
    margin-bottom: 5px;
    z-index: 2;

}

.criteria {
    margin: 5px;
    flex-flow: row wrap;
}

.vl {

    border-left: 1.5px solid #D20A09;
    height: 590px;
    margin-top: 40px;
}

.middle {
    margin-top: 20px;
}

.contents {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 170px;
}


p {
    color: #D20A09;
    font-weight: bold;
    margin: 10px 0 0 0;
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

label {
    color: #171717;
    margin: 5px 0;
    font-size: 13px;
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.bestline, .bestlineB, .percentageA, .percentageB {
    margin: 5px 0;
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.chance {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: #D20A09;
    color: white;
}

.green {
    background-color: rgb(97, 192, 97);
    color: rgb(44, 44, 44);
}

small {
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.block {
    background-color: #000;
    height: 20px;
    width: 30px;
}


.displays {
    display: flex;
    justify-content: center;
}


button {
    position: relative;
    font-family: 'Oswald', sans-serif;
    margin: 10px 10px;
    background-color: #D20A09;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    font-size: 14px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;

}

button:hover {
    transition-duration: 0.1s;
    background-color: rgb(177, 177, 177);
    color: #000;
}

button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 20px #D20A09;
}

button:active:after {
    box-shadow: 0 0 0 0 #D20A09;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

button:active {
    top: 1px;
}